pytest
fastapi
flask
lightprotobuf
Pydantic
pandas
requests
uvicorn
aift
pythainlp==5.1.2
transformers[torch]
# Optional dependencies for additional functionality
# statsmodel
# scikit-learn
# numpy
# scipy
